h1,h2,h3,h4,h5 {
  text-align: center;
}

button {
  margin-bottom: 0px !important;
}

.books {
  list-style-type: none;
}

table {
  width: 100%;
  background: #F5EDE3;
}

body {
	background: #FFFFF2;
}

.usercal {
	background: #F5EDE3;
	border:2px solid;
	height: 350px;
	width: 250px;
	overflow: auto;
}

.usercal h3 {
	background: #f6b33d;
}

.usercal ul
{
    list-style-type: none;
}

.foodCategory {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background-color:#79bbff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:3px 3px;
	width: 200px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	text-align: center;
}.foodCategory:hover {
	background-color:#378de5;
}.foodCategory:active {
	position:relative;
	top:1px;
}