<div ng-include=" 'templates/menu.html' "></div>
<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h2>{{ title }}</h2>

    <div class="alert-box">{{ message }}</div>

    <ul class="small-block-grid-2">
      <li>
        <a href="#/services"><img class="th" src="img/demo1.jpg" shows-message-when-hovered message="Home Maint."></a>
      </li>
      <li>
        <img class="th" src="img/demo2.jpg" shows-message-when-hovered message="Family Maint.">
      </li>
    </ul>
  <div ng-include=" 'templates/footer.html' "></div>
  </div>
</div>
