<div id="home" class="row">
  <div class="large-6 large-offset-3">
    <h2>{{ title }}</h2>

    <div class="alert-box">{{ message }}</div>

    <ul class="large-block-grid-3">
      <li>
        <a href="#/services"><img class="th" src="img/repair.png" shows-message-when-hovered message="Home Maintentance Repair Log"></a>
      </li>
      <li>
        <a href="#/medicines"><img class="th" src="img/medicine.png" shows-message-when-hovered message="Family Prescription Information"></a>
      </li>
      <li>
        <a href="#/journal"><img class="th" src="img/food.png" shows-message-when-hovered message="Food rotation schedule"></a>
      </li>
    </ul>
  <div ng-include=" 'templates/footer.html' "></div>
  </div>
</div>
