<div id="menucontainer">
  <br />
  <div class="row">
    <div class="small-6 large-12 columns">
          <ul class="inline-list" >
            <li><a href="#/home" class="menuButton">Home</a></li>
            <li><a href="#/providers" class="menuButton">Providers</a></li>
            <li><a href="#/services" class="menuButton">Services</a></li>
            <li><a href="#/servicetypes" class="menuButton">Type</a></li>
            <li><a href="#/medicines" class="menuButton">Medicine</a></li>
          </ul>
      </div>
  </div>
</div>