<div class="menuBar">
   <div class="large-12">
      <div class="row">
        <div class="small-3 large-3 columns">
                <center><a href="#/home" class="menuButton">Home</a></center>
        </div>
	<div class="small-3 large-3 columns">
                <center><a href="#/providers" class="menuButton">Providers</a></center>
        </div>
        <div class="small-3 large-3 columns">
                <center><a href="#/services" class="menuButton">Services</a></center>
        </div>
        <div class="small-3 large-3 columns">
                <center><a href="#/servicetypes" class="menuButton">Types</a></center>
	</div>
      </div>
   </div>
</div>
