<div id="menucontainer">
  <br />
  <div class="row">
    <div class="small-6 large-12 columns">
          <ul class="inline-list" >
            <li><a href="#/home"><button class="button radius">Home</button></a></li>
            <li><a href="#/services" class="menuButton">Services</a></li>
            <li><a href="#/medicines" class="menuButton">Medicine</a></li>
            <li><a href="#/journal" class="menuButton">Journal</a></li>
            <li><button class="button radius" ng-controller="HomeController" ng-click="logout()">Log Out</button></li>
          </ul>
      </div>
  </div>
</div>