<div ng-include=" 'templates/menubar.html' "></div>
<div class="row">
    <div>
        <div class="large-12 columns">
          <ul class="inline-list" >
            <li><a href="#/servicetypes"><button class="button tiny secondary radius">ServiceType</button></a></li>
            <li><a href="#/providers"><button class="button tiny secondary radius">Providers</button></a></li>
          </ul>
      </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <form>
            <div ng-show="advSearch" class="large-3 columns">
                <label>Start:</label><input type="date" name="Start" placeholder="start" ng-model="search.start" />
            </div>
            <div ng-show="advSearch" class="large-3 columns">
                <label>End:</label><input type="date" name="Start" placeholder="End" ng-model="search.end" />
            </div>
            <div ng-show="advSearch" class="large-2 columns">
                <label>Type:</label><select ng-model="search.type" ng-options="item.id as item.name for item in testTypes"> </select>
            </div>
            <div ng-show="advSearch" class="large-2 columns">
                <label>Provider:</label><select ng-model="search.provider" ng-options="prov.id as prov.name for prov in providerList"></select>
            </div>
            <div class="large-2 columns">
                <button class="button tiny secondary radius" ng-click="advSearch = !advSearch">{{ !advSearch | plusminus }}Adv. Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        <input ng-show="myValue" type="text" ng-model="searchBar" class="search-query" placeholder="Search">
    </div>
    <div class="large-2 large-offset-2 columns">
        <button ng-click="hide()" class="button small radius">{{ buttonText }}</button>
    </div>
</div>
<div ng-include=" 'templates/addservice.html' " ng-hide="myValue"></div>
<div class="row" ng-show="myValue">
    <h3>Total: {{ totalSearch() | currency }}</h3>
<div class="large-12">


<table>
    <thead>
        <tr>
            <th ng-click="reverse = predicate == 'start_date' && !reverse; predicate = 'start_date'">Started</th>
            <th ng-click="reverse = predicate == 'end_date' && !reverse; predicate = 'end_date'">Finished</th>
            <th ng-click="reverse = predicate == 'provider.name' && !reverse; predicate = 'provider.name'">Provider</th>
            <th ng-click="reverse = predicate == 'cost' && !reverse; predicate = 'cost'">Cost</th>
            <th ng-click="reverse = predicate == 'servicetype.name' && !reverse; predicate = 'servicetype.name'">Type</th>
            <th ng-click="reverse = predicate == 'notes' && !reverse; predicate = 'notes'">Note</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="service in services | filter:searchFilter | filter:searchBar | orderBy:predicate:reverse ">
            <td>{{ service.start_date }}</td>
            <td>{{ service.end_date }}</td>
            <td>{{ service.provider.name }}</td>
            <td>{{ service.cost | currency }}</td>
            <td>{{ service.servicetype.name }}</td>
            <td>{{ service.notes }}</td>
        </tr>
    </tbody>
</table>

</div>
